/*
	By Nick Sheffield
	nick@nicksheffield.com
*/

/* ------------------------------------------------------- MISC */
	html,body{
		cursor:default;
		height:100%;
		background:#222;
	}
	
	body,input{
		font-family:'Ubuntu',Arial,Helvetica,sans-serif;
	}
	
	h1,h2,h3{cursor:default;}
	
	*[contenteditable=true]{
		cursor:text;
	}
	
	#container{
		width:600px;
		margin:0 auto;
		background:#efefef;
		height:100%;
		padding:40px 60px;
	}
	
/* ------------------------------------------------------- HEADER */
	header{
		padding-bottom:20px;
		margin-bottom:40px;
		border-bottom:1px solid #ccc;
		cursor:default;
	}
	
	header h1{
		font-size:32px;
		display:inline-block;
		margin-top:-5px;
		padding-bottom:5px;
		letter-spacing:-1px;
		color:#000;
		text-shadow:0px 0px 5px #aaa;
	}
	
	header input{
		padding:5px;
		width:270px;
		margin-left:50px;
		margin-bottom:15px;
	}

	
/* ------------------------------------------------------- MAIN */

	section{
		margin-bottom:20px;
		padding-bottom:10px;
		width:500px;
	}
	
	section .buttons{
		float:left;
		width:20px;
		margin-right:20px;
		padding-top:10px;
	}
	
	section h1{
		display:none;
	}
	
	section p{
		margin-bottom:5px;
		margin-left:40px;
	}
	
	p.date{
		color:#aaa;
	}