/*
	By Nick Sheffield
	nick@nicksheffield.com
*/

/* ------------------------------------------------------- MISC */
	html,body{
		cursor:default;
		height:100%;
		background:#333 url('../images/noise.gif');
		margin-top:0px;
	}
	
	body,input{
		font-family:'Ubuntu',Arial,Helvetica,sans-serif;
	}
	
	h1,h2,h3{cursor:default;}
	
	*[contenteditable=true]{
		cursor:text;
	}
	
	#container{
		width:600px;
		margin:0 auto;
	}
	
/* ------------------------------------------------------- HEADER */
	header{
		padding-bottom:30px;
		bborder-bottom:1px solid #ccc;
		cursor:default;
		padding:40px 60px;
	}
	
	header h1{
		font-size:46px;
		display:inline-block;
		margin-top:-5px;
		padding:5px;
		letter-spacing:-1px;
		color:#fff;
		text-shadow:0px 5px 10px #222;
		
		border-radius:5px;
		-moz-border-radius:5px;
		
		-webkit-transition: all .3s;  
        -moz-transition: all .3s;  
        transition: all .3s;
	}
	
	header h1:hover{
	}


	
/* ------------------------------------------------------- MAIN */
	
	#main{
		width:600px;
		margin:0 auto;
		background:#fefefe;
		height:100%;
		padding:40px 60px;
		
		border-radius:5px;
		-moz-border-radius:5px;
		
		-webkit-box-shadow:0px 5px 10px #222;
		-moz-box-shadow:0px 5px 10px #222;
	}
	
	#input{
		width:590px;
		margin:5px 0 40px 0;
		background:#eee;
		
		border:4px solid #eee;
		border-radius:7px;
		-moz-border-radius:7px;
	}
	
	#input input{
		padding:10px;
		padding-left:33px;
		width:547px;
		
		border:0;
		border-radius:4px;
		-moz-border-radius:4px;
		
		background:#fff url('../images/pencil.png') no-repeat 11px 11px;
	}
	
	#input input:focus {
		outline:0px; 
	}
	
/* ------------------------------------------------------- ITEMS */
	
	section{
		margin-bottom:20px;
		padding:5px 0 5px;
		width:500px;
	}
	
	section:hover .buttons{
		opacity:1;
		-moz-opacity:1.0;
	}
	
	section .buttons{
		float:left;
		width:20px;
		margin-right:20px;
		padding-top:10px;
		
		opacity:0;
		-moz-opacity:0;
		
		-webkit-transition: all .3s;  
        -moz-transition: all .3s;  
        transition: all .3s;
	}
	
	section h1{
		display:none;
	}
	
	section p{
		margin-bottom:5px;
		margin-left:40px;
	}
	
	p.sub{
		color:#aaa;
	}
	
	img.delete{
		cursor:pointer;
	}